body { /* removing scroll bar */
  margin: 0px;
  height: 687px;
  background-color: #d2575a;
  overflow-y: scroll;
  align-items: center; /* Center vertically */
}
body::-webkit-scrollbar {
  display: none;
}

/* ---------------------------------------------------------------front page */
.pierre_container {
  z-index: 1;
  position: relative;
  margin-top: -57px;

}
.pierre {
  width: 865px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: "gimlet-display-compressed", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 210px;
  color: color: #ccc;
  position: relative;
  margin: 0;
  padding-top: 50px;
  z-index: 0;
}
h1, .about_vid {
  text-align: center;
  line-height: 0.8;
  z-index: 1;
}
.about_vid { /* video description */
  position: relative;
  margin-top: -140px;
  font-family: "anonymous-pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #ccc;
}

/* ------------------------------------------------------- adding the slider */
.slider-container {
  position: relative;
  padding-bottom: -50px;
  margin: 0 auto;
  z-index: 2;
}
.line {
  width: 40%;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow {
  width: 50px;
  height: 50px;
  background-image: url('/images/right-arrow.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: grab;
}
