body { /* removing scroll bar */
  margin: 0px;
  background-color: #d2575a;
  overflow-y: scroll;
  align-items: center; /* Center vertically */
}
body::-webkit-scrollbar {
  display: none;
}

/* ---------------------------------------------------------------front page */
.pierre_container {
  z-index: 2;
  position: relative;
  margin-top: -57px;
}
.pierre {
  width: 67%;
  height:67%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.halo_container {
  z-index: 0;
  position: relative;
  margin-top: -755px;
}
.halo {
  width: 1400px;
  max-width: 100%;
  height: 110%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: "gimlet-display-compressed", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 210px;
  color: #000000;
  position: relative;
  margin: 0;
  padding-top: 50px;
  z-index: 1;
}
h1, .about_vid {
  text-align: center;
  line-height: 0.8;
}
.about_vid { /* video description */
  position: relative;
  margin-top: -190px;
  font-family: "anonymous-pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #ccc;
  z-index: 3;
}
#about{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* ------------------------------------------------------- adding the slider */
.slider-container {
  position: relative;
  margin: 0 auto;
  margin-top: -35px;
  z-index: 2;
}
.line {
  width: 40%;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow {
  width: 50px;
  height: 50px;
  background-image: url('./images/pill.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: grab;
}
