

body { /* removing scroll bar */
  margin: 0px;
  height: 687px;
  background-image: url(images/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: scroll;
  align-items: center; /* Center vertically */
}
body::-webkit-scrollbar {
  display: none;
}

/* front page */
.background_title {
  position: relative;
  margin-top: -10px;
  font-family: "roc-grotesk-wide", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: #E6DBDB;
}
.foreground_title {
  position: relative;
  margin-top: -320px;
  font-family: "roc-grotesk-compressed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: #C22712;
  /* opacity: 0.9; */
}
h1, .about_vid {
  text-align: center;
  line-height: 0.7;
}
.about_vid {
  font-family: "anonymous-pro", monospace;
  font-weight: 400;
  font-style: normal;

}

/* adding the slider */
.slider-container {
  position: relative;
  padding-top: 150px;
  margin: 0 auto; /* Center horizontally */
}
.line {
  width: 40%;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow {
  width: 50px;
  height: 50px;
  background-image: url('/images/right-arrow.png');
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: grab;
}


.about_vid{
  color: #ccc;
}
